@import "../../sass/mixins/mediaQueries.scss";

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 8rem;

  &__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80vw;

    @include medium {
      width: 45vw;
    }

    @include large {
      width: 30vw;
    }

    Button {
      margin-top: 1rem;
      align-self: center;
    }
  }
}
